@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   
    box-sizing: border-box;
}

.intiallogin{
    width: 400px;
    height: 340px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 110px;

}

.titlename h1{
  text-align: center;
  color: #F6ECA9;
  margin-top: 50px;
  font-size: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titlename h2{
  text-align: left;
  color: #f8f7f3;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 140px;

  font-size: 35px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.titlename h3{
  color:#E5D4FF;
  text-align: left;
  height:100px;
  width:600px;
  margin-left: 140px;
  font-size: 22px;
  word-spacing: 1px;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.logoimage{
  border-radius: 50%;
height:80px;
width:80px;
margin-left:150px;
margin-top: 71px;
margin-right:10px ;
}

.logotitle{
  display: flex;
}

.logoimagelogin{
  height:50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 95px;
  margin-bottom: 5px;
}

.titlelogo{
  display: flex;
}
.titlelogo h1{
text-align: center;
margin-left: 5px;
margin-top: 24px;
margin-bottom: 5px;
}


.word-animation span {
  display: inline-block;
  opacity: 0;
  animation: appear 0.5s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.word-animation span:nth-child(1) {
  animation-delay: 0s;
  color:#D5F0C1;
}
.word-animation span:nth-child(2) {
  animation-delay: 0.5s;
  color:#D5F0C1;

}
.word-animation span:nth-child(3) {
  animation-delay: 0.6s;
  color:#D5F0C1;

}
.word-animation span:nth-child(4) {
  animation-delay: 0.7s;
  color:#D5F0C1;

}
.word-animation span:nth-child(5) {
  animation-delay: 0.8s;
  color:#D5F0C1;

}
.word-animation span:nth-child(6) {
  animation-delay: 1.2s;
  color:#D5F0C1;

}

.word-animation span:nth-child(7) {
  animation-delay: 1.3s;
  color:#D5F0C1;

}

.nameoffirm{
  height: 100vh;
  width:60%;
  float: left;
  background-color: #11235A;
}

.intiallogin2{
  width: 400px;
  height: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #f4f4f4;
}
.body2{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEF0E5;
}
.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    padding-bottom: 15px;

}
.adminlogin{
    position: fixed;
    top: 30px;
    right: 30px;
    width:80px;
    height:40px;
}
.Btn{
    margin:10px;
}

  .card {
    max-width: 500px;

    margin: auto;
  }
  .space-y-6{
    margin-top:20px;
    margin-bottom: 25px;
  
  }
  .employesubmit
  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  }
  .reviewcharts {
    display: flex;
    justify-content: space-between;
  }
  

.reviewbarchart,
.reviewlinegraph {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.mt-8{
    justify-content: center;
}

.salescards {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px; 
}
.cards-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  margin:20px 50px; 
}
  .cardcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height:200px;
    width:310px;
  }
 
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    width: 100%;

    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  .center-container {
    text-align: center;
    margin: 0px 350px;
  }
  
  .update-form{
    width:400px;
    height:400px;
  }
  .graph-card{
    margin:0px 150px;
  }
  
  .newcutomers{
    display: flex;
    margin:  50px 200px;
  }
  .reviewques{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 50px;

  }
  .reviewquescard{
    height:450px;
    width:800px;
  }
  .formsordering{
    display: flex;
    margin-bottom: 18px;

  }  

 .adjustingAdminBtn{
display: flex;
margin-left: -12px;
 }  

.adminClickedBack{
  background-color:transparent;
  color:black;
  cursor: pointer;
  border: 1px solid skyblue;
  width:40px;
  height:30px;
  border-radius: 4px;
  float:right;
  margin-top: 0px;
}
.adminClickedBack:hover{
background-color: maroon;
color:white;
border: none;
}
.adminLoggingout{
  transition: ease 0.2s;
  background-color: none;
  float: right;
  width: 45px;
  height:45px;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 25px;
color: black;}

.adminLoggingout:hover{
  background-color: white;
  border-radius: 50%;
  border:1px solid black;
}

.backToFeaturesPage{
  background-color: white;
  width: 45px;
  height:45px;
  cursor: pointer;
color: black;
border: none;
margin-top: 12px;
margin-left: 10px;
}

.backToFeaturesPage:hover{
  background-color: rgb(230, 227, 227);
  border-radius: 50%;
  transition: ease 0.2s;
}

.backToFeaturesEmp{
  background-color: #ffffff;
  width: 30px;
  height:30px;
  border-radius: 50%;
  cursor: pointer;
color:black;
border: none;
margin-top: -7px;
margin-left: -20px;
margin-right: 5px;
}

.backToFeaturesEmp:hover{
  background-color:maroon;
  border-radius: 50%;
  transition: ease 0.2s;
  color:white;
}

.adminloginback{
  background-color:transparent;
  color:black;
  cursor: pointer;
  border: 1px solid skyblue;
  width:40px;
  height:30px;
  border-radius: 4px;
  float:right;
  margin-left: 314px;
  margin-top: -44px;
  margin-bottom: 30px;
}

.adminloginback:hover{
  background-color: maroon;
  color:white;
  border: none;
}

.featurespaged{
  width:100%;
  height: 100vh;
  background-image: url('./features-bg.jpg');
  background-size: cover;
  
}

.displaybg{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  background-image: url('./features-bg.jpg');
  background-size: cover; 
}
.body2{
  width:100%;
  height: 100vh;
  background-image: url('./features-bg.jpg');
  background-size: cover;
}
.bgimageemp{
  width:100%;
  height: 100vh;
  background-image: url('./features-bg.jpg');
  background-size: cover;
}

.customerdetailspages{
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 365px;
  width:900px;
  overflow: auto;
  margin-left: 315px;
  border:1px solid grey;
  border-radius: 5px;
  padding:1px
}