@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   
    box-sizing: border-box;
}

.intiallogin{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1{
    text-align: center;
    font-size: larger;
    font-weight: 600;
    padding-bottom: 15px;

}
.adminlogin{
    position: fixed;
    top: 30px;
    right: 30px;
}
.Btn{
    margin:10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .card {
    max-width: 500px; /* Adjust as needed */
    margin: auto;
  }
  